@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Medium.ttf) format("opentype");
}
.font-poppins-medium {
  font-family: "Poppins", sans-serif !important;
}

@font-face {
  font-family: "Poppins-bold";
  src: url(assets/fonts/Poppins-Bold.ttf) format("opentype");
}
.font-poppins-bold {
  font-family: "Poppins-bold", sans-serif !important;
}

@font-face {
  font-family: "Poppins-regular";
  src: url(assets/fonts/Poppins-Regular.ttf) format("opentype");
}
.font-poppins-regular {
  font-family: "Poppins-regular", sans-serif !important;
}
